{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>Habit Tracker</h1>
    <h2>Habit Table</h2>

    <h2>Add habit</h2>
    <form action="{{ url_for('main.add_habit_form') }}" method ="post">
        <label for="name">Habit Name:</label>
        <input type="text" id="name" name="name" maxlength="50" required>
        <label for="description">Description</label>
        <input type="text" id="description" name="description" max="50" required>

        <button type="submit">Add habit</button>



    </form>




    <table>
        <tr>
            <th>Habit</th>
            <th>Description</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        {% for habit in habits %}
        <tr>
            <td>{{ habit.name }}</td>
            <td title="{{ habit.description}}">
                {{ habit.description }}
            </td>
            <td>{{ habit.created_at.strftime('%Y-%m-%d') if habit.created_at else '-' }}</td>
            <td>
                <form action="{{ url_for('main.edit_habit', id=habit.id) }}">
                    <button>Edit</button>
                </form>
                <form action="{{ url_for('main.delete_habit', id=habit.id) }}" method="post" style="display:inline;">
                    <button type="submit" onclick="return confirm('Delete this habit?');">Delete</button>
                </form>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4">No habits yet.</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}