<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/container.css">
    <link rel="stylesheet" href="../styles/text_color.css">
  </head>
  <body>
    <div class="middle-sonny">
      <h1><span id="sonny">sonny</span> <span>sayaloune...</span></h1>
    </div>

    <div class="sub-section">
        <h1><span>become who<span id="you"> you </span> were meant to be.</span></h1>
    </div>

    <div class="about-me">
        <a href="about.html">about me...</a>
    </div>

    <div class="github">
        <a href="https://github.com/sonnysss1" target="_blank">github</a>
    </div>
</body>



</html>